@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --white: rgba(242, 242, 242, 1);
  --black: rgba(13, 13, 13, 1);
  --pink-strong: rgba(242, 89, 78, 1);
  --pink-medium: rgba(242, 147, 141, 1);
  --pink-weak:  rgba(242, 179, 174, 1);
  --header-opacity: 1;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HOME */
.home {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 60vh;
  overflow-y: hidden;
}


/* HEADER */
.header {
  z-index: 100;
  position: fixed;
  background-color: rgba(242, 147, 141, 0);
  color: var(--white);
  width: 100%;
  height: auto;
  transition: all 0.5s;
}
.header.active{
  background-color: rgba(242, 147, 141, 1);
}
.header_content {
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header_list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2em;

  position: absolute;
  opacity: 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  position: absolute;
  right:0;
  top:0;
  transform: translateX(100%);
  transition: all 0.3s;
  
  height: 100vh;
  width: 15em;
  background: rgba(242, 147, 141, 1);
}
.sidebar.active{
  transform: translateX(0%);
}
.sidebar-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
.sidebar_icon, .sidebar-close-icon{
  cursor: pointer;
}
@media only screen and (min-width : 870px) {
  .header_list {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s;
  }
  .sidebar_icon{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
  }
}


/* PRODUTOS */
.produtos {
  padding: 1.5em;
}
.produtos_img {
  width: auto;
  height: 40em;
  border-radius: 1em;
  background-color: #F2B3AE;
}
.produtos_titulo {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.09em;
}
.produtos_descricao {
  font-weight: 500;
  font-size: 1.5em;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.09em;
}
@media only screen and (min-width : 870px) {
  .produto {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  .produtos_img {
    width: min(45%, 30em);
    margin: 1.5em;
  }
  .produtos_texto{
    width: 45%;
  }
  #produto_1{
    flex-direction: row;
    text-align: left;
  }
  #produto_2{
    flex-direction: row-reverse;
  }
  #produto_2 .produtos_texto{
    text-align: right;
  }
}

/* FOOTER */
.footer{
  background-color: var(--pink-medium);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_social{
  display: inline-flex;
  gap: 0.5em;
}
@media only screen and (min-width : 870px) {
  .footer{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .footer_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
}